*{
  padding:0px;

  margin:0px;

 }

 header{

   background-image: url("../img/PeterAndSpiderman.jpg");

   width:100%;

   height:100%;

   background-size:cover;

   background-position: center;

 }

h1{

  display:block;

  position:absolute;

  transform:translate(-50%,-50%);

  top:50%;

  left:50%;

  font-family:"Open Sans";

  text-transform:uppercase;

  font-size:140px;

  letter-spacing:14px;

  border:solid 3px rgba(255, 255, 255, 0.56);

  color:rgb(255, 255, 255);

}

.papafrita{

  width:50%;

  height:550px;

}

.mein{

  display:flex;

  flex-direction:row;

  justify-content:center;

  align-items:flex-start;

  font-family:"Open Sans";

}

p{

  display:inline-block;

  width:90%;

  margin:0px 5% 0px 5%;

  font-size:17px;

  line-height:35px;

}

h3{

  width:90%;

  margin-left:20px;

  padding-top:25px;

  padding-bottom:15px;

  font-size:27px;

}

.Spiderman{

  background:rgb(38, 38, 38);

  color:rgb(255, 255, 255);

}



@media screen and (max-width:1000px ){

  .papafrita{
    width: 100%;
    height: auto;
  }

  .mein{
    flex-direction: column;
  }

  p{
    display: block;
    padding-bottom: 50px;

  }

}

@media screen and (max-width:740px ) {


  h1{
    font-size: 90px;
  }

}
