*{
  padding: 0px;
  margin: 0px;
}

body{
  background: rgb(33, 33, 33);
}

/*---------------------------------------------------------*/

.contenidoHeader{
  overflow: hidden;
}

header {
  width: 100%;
  height: 313.05%;
  background-image: url("../img/BG.jpg");
  background-position: left;
  background-size: cover;
}

header hgroup{
  width: 60%;
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:60%;
  text-align: center;
  font-family: "Open sans"
}

h1{
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

h2{
color:rgb(40, 40, 40);
font-size: 23px;
text-transform: uppercase;;
letter-spacing: 9px;

}

/*--------------------------------------------------------*/

.main{
  background: rgb(34, 34, 34);
}

.main h3{
  display: block;
  margin-left: 40px;
  font-size: 72px;
  font-family: "Open sans";
  color:rgb(255, 255, 255);
  letter-spacing: 4px;
}

 .main > p{
   display: block;
   margin-left: 40px;
   font-size: 18px;
   font-family: "Open sans";
   color:rgb(255, 255, 255);
   letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 100px;
 }

 /*-----------------------------------------------------*/

  .main{
    margin-bottom: 100px;
  }
 .tema{
   width: 40%;
   margin: 25px 5% 25px 5%;
 }

 .tema > img{
   width: 100%;
 }

 .tema .contenido{
   background: rgb(255, 255, 255);
   color:rgb(47, 47, 47);
   font-size: 16px;
 }

  .enlase{
    width: 35%;
    margin:auto;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

  .contenido a{
    text-decoration: none;
    color:rgb(26, 26, 26);
    font-family: "Open sans";
    font-size: 21px;
    font-weight: bold;
  }
  .enlase img{
    display: block;

  }

 .enlase img{
  display: block;
   width: 25px;
   height: 25px;
   margin-left: 5px;
 }

.cuu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenido h4{
  display: block;
  font-family: "Open Sans";
  font-size: 27px;
  color:rgb(60, 60, 60);
  text-transform: uppercase;
  padding: 10px;
  margin-left: 12px;
}

.contenido > p{
  display: block;
  width: 90%;
  margin:auto;
  font-family: "Open Sans";
  font-size: 15px;
  color:rgb(60, 60, 60);
  letter-spacing: 0.7px;
  line-height: 22px;
}

/*--------------------------------------------------*/

@media screen and (max-width:1200px ) {
  header hgroup{
    left: 70%;
  }

  .cuu a div{
    width: 80%;
  }

}

@media screen and (max-width:900px ) {
  header{
    background: rgb(196,0,1);

    }
    header hgroup{
      width: 80%;
      left: 50%;
    }

    header{
      height: 100%;
    }

    .tema{
      width: 80%;
    }

    footer img {
      width: 40%;
    }
}

@media screen and (max-width:700px ) {

    header hgroup{
      width: 100%;
    }

    .tema{
      width: 100%;
    }


}
