*{
  margin: 0px;
  padding: 0px;
}

header{
  width: 100%;
  height: 100%;
  background: url("../img/BG spiderman .jpg");
  background-position: center;
  background-size: cover;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 140px;
  color: rgb(255, 255, 255);
  font-family: "Open sans";
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.63);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(37, 37, 37);
  padding-top: 80px;
}

.main div{
  width: 30%;
  margin: 1%;
  margin-bottom: 50px;
  background:rgb(255, 255, 255);
}

.main div img{
  width: 100%;
}

h4{
  display: block;
  padding: 18px;
  font-family: "Open sans";
  color: rgb(47, 47, 47);
  text-align: center;
  font-size: 22px;
}

.tabla{
  background: url("../img/BG tabla.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 70px;
}
table{
  font-family: "Open sans";
  font-size: 18px;
  border-collapse: collapse;
  margin: auto;
}

th{
  background: rgb(255, 255, 255);
  color: rgb(55, 55, 55);
  font-size: 25px;
  padding: 10px;

}

td{
  padding: 11px;
  color:rgb(255, 255, 255);
  background:rgb(255, 255, 255, 0.1);
}

.titulo{
  background: rgb(162, 46, 54);
  color:rgb(255, 255, 255);
}

@media screen and (max-width:900px ){
  .main div{
    width: 42%;
  }
}

@media screen and (max-width:800px ){
  h1{
    font-size: 100px;
  }
}
