footer{
  background-color:rgb(139, 22, 22);
  display: flex;
  justify-content: space-between;
  align-items:center;

}

footer div{
    width: 50%;
    padding: 40px 20px 20px 20px;
}

footer p{
  line-height: 50px;
  font-family: "Open Sans";
  font-size: 18px;
  color:rgb(255, 255, 255);
  letter-spacing: 0.4px;
}



footer img{
  display: block;
  width: 25%;
  margin-right: 20px;

}

@media screen and (max-width:900px ) {
  footer{
    flex-direction: column;
    justify-content: center;
  }
  footer div{
    width: 90%;
  }

  footer img{
    width: 60%;
  }
}

footer .resaltar{
  color:rgb(45, 45, 45);
  text-transform: uppercase;
  font-family: "Open sans";
  font-size: 30px;
  font-weight:bold;
}
